.photo-grid {
    max-width: 1184px;
    display: grid;
    grid-template-columns: repeat(4, minmax(min-content, max-content));
    grid-template-rows: repeat(3, minmax(min-content, max-content));
    gap: 16px;
}

@media screen and (max-width: 1100px) {
    .photo-grid {
    grid-template-columns: repeat(3, minmax(min-content, max-content));
    grid-template-rows: repeat(4, minmax(min-content, max-content));
    }
}

@media screen and (max-width: 830px) {
    .photo-grid {
    grid-template-columns: repeat(2, minmax(min-content, max-content));
    grid-template-rows: repeat(6, minmax(min-content, max-content));
    }
}

@media screen and (max-width: 675px) {
    .photo-grid {
    grid-template-columns: minmax(min-content, max-content);
    grid-template-rows: repeat(12, minmax(min-content, max-content));
    }
}