.page__header {
    margin: 28px 48px 0;
}

@media screen and (max-width: 830px) {
    .page__header  {
        margin: 28px 24px 0;
    }
}

@media screen and (max-width: 550px) {
    .page__header  {
        margin: 16px 16px 0;
    }
}