.links__link {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.12;
    color: #FFFFFF;
    text-decoration: none;
    transition: opacity linear;
  }
  
  .links__link:hover {
    opacity: 0.8;
    cursor: url(../../../pics/cursor.svg), pointer;
  }

@media screen and (max-width: 550px) {
    .links__link {
        font-size: 24px;
        line-height: 1;
    }
}

