.place__paragraph {
    margin: 0 0 26px 0;
    padding: 0;
    max-width: 484px;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.63;
    color: #FFFFFF;
    box-sizing: border-box;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}

@media screen and (max-width: 1100px) {
    .place__paragraph {
        max-width: 352px;
    }
}

@media  screen and (max-width: 830px) {
    .place__paragraph {
        max-width: 484px;
        margin: 0 auto 25px;
        font-size: 16px;
    }

}

@media  screen and (max-width: 675px) {
    .place__paragraph {
        max-width: 288px;
        margin: 0 16px 25px;
    }
}