.lang-links__lang-link {
    font-size: 24px;
    font-weight: 400;
    line-height: 1.17;
    color: #FFFFFF;
    transition: opacity linear;
  }
  
  .lang-links__lang-link:hover {
    opacity: 0.8;
    cursor: url(../../../pics/cursor.svg), pointer;
  }


.lang-links__lang-link:last-child {
    text-decoration: none;
}

@media screen and (max-width: 550px) {
    .lang-links__lang-link  {
        font-size: 18px;
        line-height: 1.11;
    }
}