.lead__subtitle {
    margin: 32px auto 64px;
    max-width: 640px;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.20;
    color: #FFFFFF;
    text-align: center;
}

@media screen and (max-width: 740px) {
    .lead__subtitle {
        margin: 16px auto 40px;
        font-size: 16px;
        line-height: 1.25;
    }
}