.page__lead {
    margin: 56px 148px 0;
}

@media screen and (max-width: 1100px) {
    .page__lead {
        margin: 48px 48px 0;
    }
}


@media screen and (max-width: 780px) {
    .page__lead {
        margin: 48px 0 0;
    }
}
