.page__places {
    margin: 0 148px;
}

@media  screen and (max-width: 1100px) {
    .page__places {
        margin: 0 48px;
    }
}

@media  screen and (max-width: 830px) {
    .page__places {
        margin: 0 24px;
    }
}

@media  screen and (max-width: 500px) {
    .page__places {
        margin: 0;
    }
}